In [5]:
import yfinance as yf
yf.pdr_override()

In [8]:
aapl = yf.Ticker('AAPL')
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 147000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 131.88,
 'regularMarketOpen': 132.16,
 'twoHundredDayAverage': 110.621475,
 'trailingAnnualDividendYield': 0.0060282075,
 'payoutRatio': 0.24239999,
 'volume24Hr': None,
 'regularMarketDayHigh': 132.42,
 'navPrice': None,
 'averageDailyVolume10Day': 130289014,
 'totalAssets': None,
 'regularMarketPreviousClose': 131.88,
 'fiftyDayAverage': 120.77828,
 'trailingAnnualDividendRate': 0.795,
 'open': 132.16,
 'toCurrency': None,
 'averageVolume10days': 130289014,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 0.82,
 'exDividendDate': 1604620800,
 'beta': 1.297637,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 130.78,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 39.92683,
 'regularMarketVolume': 84060162,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2226555715584,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 118827626,
 'priceToSalesTrailing12Months': 8.11087,
 'dayLow': 130.78,
 'ask': 131.05,
 'ytdReturn': None,
 'askSize': 1000,
 'volume': 84060162,
 'fiftyTwoWeekHigh': 137.98,
 'forwardPE': 30.175116,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.49,
 'fiftyTwoWeekLow': 53.1525,
 'bid': 131.04,
 'tradeable': False,
 'dividendYield': 0.0062,
 'bidSize': 1000,
 'dayHigh': 132.42,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 8.282,
 'beta3Year': None,
 'profitMargins': 0.20914,
 'enterpriseToEbitda': 29.395,
 '52WeekChange': 0.8195993,
 'morningStarRiskRating': None,
 'forwardEps': 4.34,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 17102499840,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 3.849,
 'sharesShort': 89985311,
 'sharesPercentSharesOut': 0.0053,
 'fundFamily': None,
 'lastFiscalYearEnd': 1601078400,
 'heldPercentInstitutions': 0.59707,
 'netIncomeToCommon': 57410998272,
 'trailingEps': 3.28,
 'lastDividendValue': 0.205,
 'SandP52WeekChange': 0.13807487,
 'priceToBook': 34.024426,
 'heldPercentInsiders': 0.00066,
 'nextFiscalYearEnd': 1664150400,
 'mostRecentQuarter': 1601078400,
 'shortRatio': 0.82,
 'sharesShortPreviousMonthDate': 1604016000,
 'floatShares': 16984460162,
 'enterpriseValue': 2273532706816,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1604620800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.074,
 'dateShortInterest': 1606694400,
 'pegRatio': 2.52,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0053,
 'sharesShortPriorMonth': 80528396,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 132.16,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [9]:
df  =  aapl.history(start="2010-01-01",  end="2020-12-20")

In [10]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2009-12-31,6.566314,6.573091,6.487134,6.492372,352410800,0.0,0.0
2010-01-04,6.575557,6.608522,6.543207,6.593426,493729600,0.0,0.0
2010-01-05,6.611603,6.642104,6.570011,6.604825,601904800,0.0,0.0
2010-01-06,6.604826,6.631014,6.492990,6.499768,552160000,0.0,0.0
2010-01-07,6.523799,6.531501,6.440615,6.487752,477131200,0.0,0.0

In [11]:
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-12-14,122.599998,123.349998,121.540001,121.779999,79184500,0.0,0.0
2020-12-15,124.339996,127.900002,124.129997,127.879997,157572300,0.0,0.0
2020-12-16,127.410004,128.369995,126.559998,127.809998,98208600,0.0,0.0
2020-12-17,128.899994,129.580002,128.039993,128.699997,94359800,0.0,0.0
2020-12-18,128.960007,129.100006,126.120003,126.660004,192541500,0.0,0.0

In [12]:
aapl.actions

            Dividends  Stock Splits
Date
2012-08-09    0.09464           0.0
2012-11-07    0.09464           0.0
2013-02-07    0.09464           0.0
2013-05-09    0.10893           0.0
2013-08-08    0.10893           0.0
2013-11-06    0.10893           0.0
2014-02-06    0.10893           0.0
2014-05-08    0.11750           0.0
2014-06-09    0.00000           7.0
2014-08-07    0.11750           0.0
2014-11-06    0.11750           0.0
2015-02-05    0.11750           0.0
2015-05-07    0.13000           0.0
2015-08-06    0.13000           0.0
2015-11-05    0.13000           0.0
2016-02-04    0.13000           0.0
2016-05-05    0.14250           0.0
2016-08-04    0.14250           0.0
2016-11-03    0.14250           0.0
2017-02-09    0.14250           0.0
2017-05-11    0.15750           0.0
2017-08-10    0.15750           0.0
2017-11-10    0.15750           0.0
2018-02-09    0.15750           0.0
2018-05-11    0.18250           0.0
2018-08-10    0.18250           0.0
2018-11-08    0.18250           0.0
2019-02-08    0.18250           0.0
2019-05-10    0.19250           0.0
2019-08-09    0.19250           0.0
2019-11-07    0.19250           0.0
2020-02-07    0.19250           0.0
2020-05-08    0.20500           0.0
2020-08-07    0.20500           0.0
2020-08-31    0.00000           4.0
2020-11-06    0.20500           0.0

In [13]:
aapl.dividends

Date
2012-08-09    0.09464
2012-11-07    0.09464
2013-02-07    0.09464
2013-05-09    0.10893
2013-08-08    0.10893
2013-11-06    0.10893
2014-02-06    0.10893
2014-05-08    0.11750
2014-08-07    0.11750
2014-11-06    0.11750
2015-02-05    0.11750
2015-05-07    0.13000
2015-08-06    0.13000
2015-11-05    0.13000
2016-02-04    0.13000
2016-05-05    0.14250
2016-08-04    0.14250
2016-11-03    0.14250
2017-02-09    0.14250
2017-05-11    0.15750
2017-08-10    0.15750
2017-11-10    0.15750
2018-02-09    0.15750
2018-05-11    0.18250
2018-08-10    0.18250
2018-11-08    0.18250
2019-02-08    0.18250
2019-05-10    0.19250
2019-08-09    0.19250
2019-11-07    0.19250
2020-02-07    0.19250
2020-05-08    0.20500
2020-08-07    0.20500
2020-11-06    0.20500
Name: Dividends, dtype: float64

In [14]:
aapl.sustainability

                                     Value
2020-10
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                          12.98
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               55
governanceScore                      10.18
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             23.65
highestControversy                       3
esgPerformance                    AVG_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           33.05
peerGroup              Technology Hardware
smallArms                            False
environmentScore                      0.49
governancePercentile                  None
militaryContract                     False

In [15]:
aapl.recommendations

                                  Firm    To Grade From Grade Action
Date
2012-02-09 08:17:00  Canaccord Genuity         Buy              main
2012-03-08 07:33:00     FBN Securities  Outperform              main
2012-03-13 06:08:00          Jefferies         Buy              main
2012-03-14 06:13:00     Morgan Stanley  Overweight              main
2012-03-14 08:21:00  Canaccord Genuity         Buy              main
...                                ...         ...        ...    ...
2020-10-30 11:41:26      Raymond James  Outperform              main
2020-11-30 11:47:25       Loop Capital         Buy       Hold     up
2020-12-09 09:49:54            Wedbush  Outperform              main
2020-12-15 16:48:59            Cascend         Buy              main
2020-12-16 17:12:04     Morgan Stanley  Overweight              main

[755 rows x 4 columns]